<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database App - Update Record</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <style>
        body {
            background-color: #363636;
            color: #f5f5f5;
        }
    </style>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title has-text-light">Update Record</h1>

            <form method="POST" action="/table2/update/{{ data.id }}">
                <div class="field">
                    <label class="label has-text-light" for="ticket">Ticket:</label><br>
                    <div class="control">
                        <input class="input" type="text" id="ticket" name="ticket" value="{{ data.ticket }}" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label has-text-light" for="owner">Owner:</label><br>
                    <div class="control">
                        <input class="input" type="text" id="owner" name="owner" value="{{ data.owner }}" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label has-text-light" for="urgency">Urgency:</label><br>
                    <div class="control">
                        <input class="input" type="text" id="urgency" name="urgency" value="{{ data.urgency }}" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label has-text-light" for="issue_description">Issue Description:</label><br>
                    <div class="control">
                        <textarea class="textarea" id="issue_description" name="issue_description" required>{{ data.issue_description }}</textarea>
                    </div>
                </div>

                <div class="field">
                    <label class="label has-text-light" for="action_taken">Action Taken:</label><br>
                    <div class="control">
                        <textarea class="textarea" id="action_taken" name="action_taken">{{ data.action_taken }}</textarea>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="button is-link" type="submit" value="Update">
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>
