<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your App - Create New Record</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <style>
        body {
            background-color: #363636;
            color: #f5f5f5;
        }

        .label {
            color: #f5f5f5;
        }

        .input,
        .textarea {
            background-color: #494949;
            color: #f5f5f5;
            border-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title has-text-light">Create New Record</h1>
            <a href="/table3" class="button is-light">Go Back</a>
            <form method="POST" action="/table3/create">
                <div class="field">
                    <label class="label" for="ticket">Ticket:</label>
                    <div class="control">
                        <input class="input" type="text" id="ticket" name="ticket">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="owner">Owner:</label>
                    <div class="control">
                        <input class="input" type="text" id="owner" name="owner">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="urgency">Urgency:</label>
                    <div class="control">
                        <input class="input" type="text" id="urgency" name="urgency">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="issue_description">Issue Description:</label>
                    <div class="control">
                        <textarea class="textarea" id="issue_description" name="issue_description"></textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="action_taken">Action Taken:</label>
                    <div class="control">
                        <textarea class="textarea" id="action_taken" name="action_taken"></textarea>
                    </div>
				<div>
                <div class="field">
                    <label class="label" for="created_at">Created At:</label>
                    <div class="control">
                        <input class="input" type="datetime-local" id="created_at" name="created_at">
                    </div>
                </div>
                <div class="control">
                    <input class="button is-link" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </section>
</body>
</html>
