<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <style>
        body {
            background-color: #f5f5f5;
            color: #363636;
        }
    </style>
    <script>
        function emailSelectedRecords() {
            var selectedIds = [];
            var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
            
            for (var i = 0; i < checkboxes.length; i++) {
                selectedIds.push(checkboxes[i].value)
            }
            
            window.location.href = "/email?ids=" + selectedIds.join(',');
        }
    </script>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Your App</h1>

            <div class="buttons">
                <a href="/create" class="button is-primary">Create new record</a>
                <a href="/search" class="button is-link">Go to search page</a>
            </div>

            <table class="table is-fullwidth is-striped has-text-dark">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Sl. No.</th>
                        <th>Ticket</th>
                        <th>Owner</th>
                        <th>Urgency</th>
                        <th>Issue Description</th>
                        <th>Action Taken</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for datum in data %}
                    <tr>
                        <td><input type="checkbox" value="{{ datum.id }}"></td>
                        <td>{{ datum.id }}</td>
                        <td>{{ datum.ticket }}</td>
                        <td>{{ datum.owner }}</td>
                        <td>{{ datum.urgency }}</td>
                        <td>{{ datum.issue_description }}</td>
                        <td>{{ datum.action_taken }}</td>
                        <td>
                            <a href="/update/{{ datum.id }}" class="button is-small is-link">Update</a>
                            <a href="/delete/{{ datum.id }}" class="button is-small is-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="button is-info" onclick="emailSelectedRecords()">Email Selected Records</button>
        </div>
    </section>
</body>
</html>
